.chef-parent {
    margin-right: 14vw;
    margin-left: 14vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chef-box {
    display: flex;
    align-items: stretch;
}

.chef-box>* {
    width: 50%;
    height: auto;
}

.chef-box>*:first-child {
    margin-right: 20px;
}

.chef-box *.description {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.chef-box *.title {
    font-weight: bolder;
}

.chef-box *.description-picture {
    flex: 1 1 auto;
}